.footer 
{
    background-color: silver;
    padding: 20px 20px;
    position: sticky;
    top: 100%;
    overflow: hidden;
}

h1 
{
    color: white;
    font-size: 25px;
}

a 
{
    color: white;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 15px;
}

a:hover
{
    color: var(--primary-color);
}

i
{
    padding: 0px 10px;
}