<div class="container mt-5 mb-5">
    <h1>Kapcsolat</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Keresztnév">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Vezetéknév">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Email cim">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Mobilszám">
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">Beküldés</button>
            </div>



        </div>
    </form>
</div>